body{
 background-repeat: no-repeat;/*背景画像が1回だけ表示されるようになる*/
  background-position: center center;/*画像がページの真ん中に表示される。center center は 水平 中央 + 垂直 中央 の意味*/
  background-size: cover;/*背景画像のサイズを要素の大きさに合わせて自動的に拡大・縮小する*/

  /*以下のコードを変更予定*/
  background-color : wheat;
}


/*以下は変更予定のコード*/
/*#location #location-name #weather #current-weatherの中身を追加予定*/
h1 {
  font-size: 18px;
  color: #008000;
}
#location{
  position: fixed;/*position: fixed:ページをスクロールしても、要素がその場にとどまり続ける*/
  bottom: 1%;
  left: 1%;
  background-color: white;/*わかりやすく白にしてある*/
  padding: 10px;/*padding:要素の中の「内容」と「枠（境界）」の間の内側の余白のこと*/
  color: #008000;
  line-height: 2.5;
}

