body{
  background-repeat: no-repeat;/*背景画像が1回だけ表示されるようになる*/
  background-position: center center;/*画像がページの真ん中に表示される。center center は 水平 中央 + 垂直 中央 の意味*/
  background-size: cover;/*背景画像のサイズを要素の大きさに合わせて自動的に拡大・縮小する*/
  
  /*以下のコードを変更予定*/
  background-color : lightslategray;
}


/*以下は変更予定のコード*/
/*#location #location-name #weather #current-weatherの中身を追加予定*/
#charcther-line{
  font-size: 20px;
  border-bottom: solid 2px black;
  font-style: oblique;
  text-align: center;
}

.character-frame{
  position: absolute;/*absoluteにすることで位置を動かすことができる*/
  left: 30%;
  top: 0.5%;
  width: 550px;
  height: 500px;
  
  background-color: white;
  background-color: rgba(132, 171, 160,0.5);/*透過率50%*/
  backdrop-filter: blur(4px);/*背景をぼかす*/
  border: 3px solid #000;
  
  background-position: center center;
  background-size: cover;
  border-radius: 20px;  /* 枠を丸くする*/
}

#char-img{
position: absolute;
left: 4.2%;
top: 10%;
max-width: 90%;
max-height: 80%;
object-fit: contain;

}


#location{
  position: absolute;/*absoluteにすることで位置を動かすことができる*/
  bottom: 0.1%;
  left: 0.5%;
  width: 200px;/*横に広くする*/

  background-color: rgba(255, 255, 255, 0.36);/*透過率36%*/
  backdrop-filter: blur(4px);/*背景をぼかす*/
  border: 3px solid #000;

  background-repeat: no-repeat;/*背景画像が1回だけ表示されるようになる*/
  background-image: url("./assets/image/chikyuugi.png");/*わかりやすく白にしてある*/
  background-size: cover;/*背景画像のサイズを要素の大きさに合わせて自動的に拡大・縮小する*/
  background-color: lightblue;

  padding: 10px;/*padding:要素の中の「内容」と「枠（境界）」の間の内側の余白のこと*/
  color: #ff006f;/*文字の色*/
  
  line-height: 2.7;
  border-radius: 10px;  /* 枠を丸くする*/
  
}

#list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 72%;
  width: 390px;
  background-color: rgba(255, 155, 61, 0.7);/*透過率36%*/
  backdrop-filter: blur(4px);/*背景をぼかす*/
  border: 3px solid #000;
  
  font-weight: bold;
}

#resetButton{
  background-color: #CC3333;
  color: #000;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #993333;
  font-weight: bold;
}

#eat-button{
  background-color: #ffd700;
  color: #000;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #b8860b;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 80%;
}
