#weatherIcon{
    position: absolute;/*absoluteにすることで位置を動かすことができる*/
    bottom: 0.1%;
    left: calc(0.5% + 3px + 10px + 250px + 10px + 3px + 0.5%);
    width: 250px;/*横の幅*/
    height: 200px;/*縦の幅*/
  
    background-color: rgba(255, 255, 255, 0.36);/*透過率36%*/
    backdrop-filter: blur(4px);
    border: 3px solid #000;/*枠線*/
  
    background-repeat: no-repeat;/*背景画像が1回だけ表示されるようになる*/
    background-size: cover;/*背景画像のサイズを要素の大きさに合わせて自動的に拡大・縮小する*/
    background-color: lightblue;
  
    padding: 10px;/*padding:要素の中の「内容」と「枠（境界）」の間の内側の余白のこと*/
    

    line-height: 4;
    
    border-radius: 10px;  /* 枠を丸くする*/
    
    display: flex; /* Flexbox を使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;     /* 垂直方向の中央揃え */
    padding: 10px; 

}